/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@500&family=Rubik+Beastly&display=swap");

/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --primary-color: #97037e;
}
body {
  background-color: #fff;
  font-family: "Montserrat", sans-serif;

  /* font-family: "Rubik Beastly", cursive; */
}
.container {
  max-width: 1100px;
  padding: 30px;
  /* background-color: aliceblue; */
  background-color: #fbfbfb;
  margin: 0 auto;
}
h1 {
  font-size: 48px;
  font-weight: 900;
  text-align: justify;
  margin-bottom: 16px;
  padding-top: 50px;
}

p {
  font-size: 16px;
  margin-bottom: 16px;
  line-height: 1.5em;
  letter-spacing: 0.1em;
}

.btn {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 16px;
  width: 170px;
  padding: 15px 10px;
  background-color: var(--primary-color);
  color: white;
  outline: 0;
  border: 0;
  border-radius: 50px;
  box-shadow: 0 7px 0 #f803cf;
  position: relative;
  top: 0;
}
.btn a {
  text-decoration: none;
  color: white;
}
.btn:active {
  top: 4px;
  box-shadow: 0 0px 0 #f803cf;
  transition: top 0.3s linear;
}
.section-title {
  font-size: 32px;
  margin-bottom: 30px;
  text-align: center;
  color: var(--primary-color);
}

/* Influencer Section
------------------------- */
#influencer-section {
  /* max-width: 1200px; */
  /* margin: 60px 0; */
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.influencer-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px 0 20px;
}
.influencer-camera {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(./images/Circle-design.svg);
  background-repeat: no-repeat;
  background-size: 65%;
  background-position: 61% 109%;
}
.influencer-camera img {
  width: 60%;
}

/* Company Branding
--------------------- */
hr {
  /* color: grey;
  font-size: 3px; */
}
#company-branding {
  margin: 100px 0;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  padding: 20px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Popular Collection
-------------------- */
#popular-collection {
}
.collections {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
}
.collection {
  padding: 14px;
  background-color: #fff;
  box-shadow: 1px 1px 5px gray;
}
.collection:hover {
  padding: 14px;
  background-color: #fff;
  box-shadow: 5px 5px 45px var(--primary-color);
}
.gear-photo {
  /* display: flex;
  flex-direction: column;
  align-items: center; */
}
.gear-detail {
}
.gear-title {
  padding: 16px 0 6px 0;
}
.gear-price {
  font-size: 24px;
  margin: 0;
  padding: 3px 0;
}
.gear-rating {
  padding: 2px 0 5px 0;
  /* font-size: 12px; */
}
.filled,
.half-filled {
  color: #fb8200;
  font-size: 12px;
}
.gear-info > p {
  font-size: 12px;
  color: #787885;
  font-weight: bold;
  margin: 0;
}
