/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Dongle:wght@700&family=Island+Moments&family=Karla:wght@800&family=Montserrat:wght@500&family=Poppins:wght@500&display=swap");

/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --primary-color: #5ac05a;
  --secondary-color: #04aa6d;
  --footer-color: #0a0826;
}
body {
  background-color: #fff;
  /* font-family: "Dongle", sans-serif;
  font-family: "Karla", sans-serif;
  font-family: "Montserrat", sans-serif;
  font-family: "Poppins", sans-serif; 
  font-family: 'Island Moments', cursive;*/
  font-family: "Poppins", sans-serif;
}
.container {
  max-width: 1100px;
  padding: 30px;
  margin: 0 auto;
}
h1 {
  font-size: 48px;
  font-weight: 900;
  color: var(--primary-color);
  line-height: 1em;
  margin-bottom: 16px;
  padding-top: 50px;
}
p {
  font-family: "Karla", sans-serif;
  font-size: 16px;
  margin-bottom: 16px;
  line-height: 1.5em;
  letter-spacing: 0.1em;
  font-family: "Montserrat", sans-serif;
}
.btn {
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 16px;
  width: 170px;
  padding: 15px 10px;
  background-color: var(--primary-color);
  color: white;
  outline: 0;
  border: 0;
  border-radius: 50px;
  box-shadow: 0 7px 0 var(--secondary-color);
  position: relative;
  top: 0;
}
.btn a {
  text-decoration: none;
  color: white;
}
.btn:active {
  top: 4px;
  box-shadow: 0 0px 0 var(--secondary-color);
  transition: top 0.3s linear;
}
.section-title {
  font-family: "Montserrat", sans-serif;
  font-size: 32px;
  margin-bottom: 30px;
  text-align: center;
  color: var(--primary-color);
}
/* Nav Styles
------------- */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 70px;
  color: var(--primary-color);
}
.logo {
  font-size: 48px;
  font-family: "Island Moments", cursive;
}
.navigation {
  display: flex;
  justify-content: space-between;
}
nav ul li {
  list-style: none;
  padding: 0 15px;
}
nav ul li a {
  text-decoration: none;
  color: black;
}
/* Influencer Section
------------------------- */
#influencer-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.influencer-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px 0 20px;
}
.influencer-camera {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(./images/Circle-design.svg);
  background-repeat: no-repeat;
  background-size: 65%;
  background-position: 61% 109%;
}
.influencer-camera img {
  width: 60%;
  animation-name: video-camera;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
@keyframes video-camera {
  from {
    transform: scale(0.5);
  }
  to {
    transform: scale(1.5);
  }
}
/* Company Branding
--------------------- */
#company-branding {
  margin: 150px 0;
  border-top: 1px solid var(--primary-color);
  border-bottom: 1px solid var(--primary-color);
  padding: 20px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.branding-logo img {
  padding: 0 15px;
}
/* Popular Collection
-------------------- */
.collections {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
}
.collection {
  padding: 14px;
  background-color: #fff;
  box-shadow: 1px 1px 5px gray;
}
.gear-photo img {
  width: 100%;
}
.collection:hover {
  padding: 14px;
  background-color: #fff;
  box-shadow: 5px 5px 45px var(--primary-color);
}
.gear-title {
  padding: 16px 0 6px 0;
}
.gear-price {
  font-size: 24px;
  margin: 0;
  padding: 3px 0;
}
.gear-rating {
  padding: 2px 0 5px 0;
}
.filled,
.half-filled {
  color: #fb8200;
  font-size: 12px;
}
.gear-info > p {
  font-size: 12px;
  color: #787885;
  font-weight: bold;
  margin: 0;
}
#see-more {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 30px;
  color: var(--primary-color);
  font-size: 18px;
}
#see-more a {
  text-decoration: none;
  color: var(--primary-color);
  padding-right: 20px;
}
/* Featured Stytles
------------- */
#featured {
  margin: 100px 0;
  display: grid;
  gap: 30px;
  grid-template-columns: 1.5fr 2fr;
}
#featured h1 {
  font-family: "Montserrat", sans-serif;
}
.featured-photo img {
  width: 100%;
  border-radius: 10px;
  animation-name: my-gears-image;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
@keyframes my-gears-image {
  from {
    transform: scale(0.6);
  }
  to {
    transform: scale(1);
  }
}
.featured-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.featured-content h1 {
  padding-top: 0px;
}
/* Footer Styles
 ----------------*/
footer {
  width: 100%;
  height: 200px;
  background-color: var(--footer-color);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-text p {
  margin-bottom: 0px;
}
.social-icons {
  width: 110px;
  padding: 10px 10px;
  display: flex;
  justify-content: space-between;
}
/* Media Queries
---------------------- */
/* 1099px */
@media (max-width: 1099px) {
  .collections {
    grid-template-columns: 1fr 1fr;
  }
  .gear-photo {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .gear-rating {
    display: flex;
    justify-content: space-around;
  }
}
/* 960px */
@media (max-width: 960px) {
  h1 {
    font-size: 40px;
    padding-top: 20px;
  }
  nav {
    flex-direction: column;
  }
  .influencer-text {
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    padding: 20px 0 20px;
  }
  .influencer-camera {
    background-position: 80% 85%;
  }
  #company-branding {
    margin: 100px 0;
  }
}
/* 805px */
@media (max-width: 805px) {
  #influencer-section {
    grid-template-columns: 1fr;
  }
  .influencer-camera {
    order: 1;
    background-size: 30%;
    background-position: 60% 8%;
  }
  .influencer-camera img {
    width: 40%;
  }
  .influencer-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    order: 2;
    padding: 0px 0px 0px;
  }
  .influencer-text h1 {
    padding-top: 50px;
  }
  #company-branding {
    margin: 75px 0;
    flex-wrap: wrap;
  }
  .featured-content {
    display: flex;
    align-items: center;
  }
}
/* 790px */
@media (max-width: 790px) {
  h1 {
    padding-top: 10px;
  }
  #featured {
    margin: 50px 0;
    grid-template-columns: 1fr;
  }
}
/* 740px */
@media (max-width: 740px) {
  .collections {
    grid-template-columns: 1fr;
  }
  h1 {
    font-size: 36px;
  }
}
/* 650px */
@media (max-width: 650px) {
  h1 {
    text-align: center;
  }
  .influencer-text,
  .feature-content p {
    text-align: justify;
  }
}
/* 503px */
@media (max-width: 503px) {
  .navigation {
    display: none;
  }
}
